<div class="container">
  <div class="row">
<div class="col-xs-12"> 
    <h2>
        Mes appareils
    </h2>
    <p> Mis à jour : {{ lastUpdate | date:'short'}}</p>
    <ul class="list-group">
      <app-appareil *ngFor="let app of appareils; let i=index" 
      [indexOfAppareil]="i"
      [appareilName]="app.name"
      [appareilStatus]="app.status"
      [id]="app.id">
      
    </app-appareil>
      <!-- <app-appareil></app-appareil> -->
     
   </ul>
   <button class="btn btn-success" [disabled]="!isAuth" 
   (click)="onAllumer()"> Tout allumer </button>
   <button class="btn btn-danger" 
   (click)="onEteintdre()"> Tout eteindre </button>
   <button class="btn btn-primary" 
   (click)="onSave()"> Enregister</button>
   <button class="btn btn-primary" 
   (click)="onFetch()"> Charger</button>
   
  </div>
</div>
</div>
